ContactManager-publish-example/ContactManager.Mvc/Service References/ContactServiceReference/ContactService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53603/ContactService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContactManager.Common" />
  <xs:element name="GetAllContacts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ContactManager.Common" minOccurs="0" name="GetAllContactsResult" nillable="true" type="q1:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ContactManager.Common" minOccurs="0" name="contact" nillable="true" type="q2:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ContactManager.Common" minOccurs="0" name="UpdateContactResult" nillable="true" type="q3:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ContactManager.Common" minOccurs="0" name="contact" nillable="true" type="q4:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ContactManager.Common" minOccurs="0" name="AddContactResult" nillable="true" type="q5:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ContactManager.Common" minOccurs="0" name="GetAllStatesResult" nillable="true" type="q6:ArrayOfState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ContactManager.Common" minOccurs="0" name="GetContactByIdResult" nillable="true" type="q7:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>